.tmp__about-us {

  &::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #FFFFFF;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
  }
  a {
    text-decoration: none;
    display: block;
    color: #555555;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
  }

  ul {
    margin: 0;
  }
}

.stripe-dropdown-wrapper {
  li > a {
    text-decoration: none;
    display: block;
    color: #AAAAAA;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #E1E1E1;
    font-size: 20px;
    font-weight: 100;
  }
}

.press-sidebar > p {
  color: #AAAAAA;
  font-size: 16px;
  line-height: 22px;
}

.signup-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.press-signup {
  border: 0;
  border-radius: 25px 0px 0px 25px;
  -webkit-box-shadow: 1px 6px 16px rgba(0,0,0, 0.2);
  box-shadow: 1px 6px 16px rgba(0,0,0, 0.2);
  padding: 12px 0;
  padding-left: 25px;
  font-size: 13px;
  color: #4A4A4A;
}

.press-signup-send {
  padding: 0 1em;
  border: 0;
  border-radius: 0px 25px 25px 0px;
  background-color: #8bfebf;
  font-size: 13px;
  font-weight: 600;
  color: #425247;
  -webkit-box-shadow: 1px 6px 16px rgba(0,0,0, 0.2);
  box-shadow: 1px 6px 16px rgba(0,0,0, 0.2);
  -webkit-transition: font-size .2s ease-in-out;
  transition: font-size .2s ease-in-out;
}

.stripe-dropdown-wrapper .dropdown-list .content a:hover {
  color: #8FFDC1;
}



/* --------------------------------
           STYLES FOR MOBILE
   -------------------------------- */
.stripe-dropdown {
  position: relative;
  height: 60px;
  background-color: transparent;

  &.nav-open {
    background-color: #090C11;
  }
}

.stripe-dropdown::before {
  /* never visible - used in JS to check mq */
  content: 'mobile';
  display: none;
}

.stripe-dropdown .button {
  all: unset;
}

.stripe-dropdown .nav-trigger {
  /* menu icon - visible on small screens only */
  position: absolute;
  right: 0;
  height: 60px;
  width: 60px;
  /* replace text with icon */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
}
.stripe-dropdown .nav-trigger span, .stripe-dropdown .nav-trigger span::after, .stripe-dropdown .nav-trigger span::before {
  /* these are the 3 lines of the menu icon */
  position: absolute;
  background-color: #8BFEBF;
  height: 3px;
  width: 26px;
}
.stripe-dropdown .nav-trigger span {
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}
.stripe-dropdown .nav-trigger span::after, .stripe-dropdown .nav-trigger span::before {
  content: '';
  left: 0;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}
.stripe-dropdown .nav-trigger span::before {
  -webkit-transform: translateY(-9px);
  -ms-transform: translateY(-9px);
  transform: translateY(-9px);
}
.stripe-dropdown .nav-trigger span::after {
  -webkit-transform: translateY(9px);
  -ms-transform: translateY(9px);
  transform: translateY(9px);
}
.stripe-dropdown.nav-open .nav-trigger span {
  background-color: transparent;
}
.stripe-dropdown.nav-open .nav-trigger span::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.stripe-dropdown.nav-open .nav-trigger span::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.stripe-dropdown .main-nav {
  display: none;
}
.stripe-dropdown .stripe-dropdown-wrapper {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 1.2em 5%;
  background-color: #090C11;
}
.stripe-dropdown.nav-open .stripe-dropdown-wrapper {
  display: block;
}
.stripe-dropdown .dropdown-list > ul > li {
  margin-bottom: 3.3em;
}
.stripe-dropdown .label {
  display: block;
  font-size: 2.2rem;
  color: #8BFEBF;
  margin-bottom: .8em;
}
.stripe-dropdown .content li::after {
  clear: both;
  content: "";
  display: block;
}
.stripe-dropdown .gallery .content li {
  margin-bottom: 1.4em;
}
.stripe-dropdown .gallery .content a {
  display: block;
}
.stripe-dropdown .gallery .content a::before {
  /* icon on the left */
  content: '';
  display: inline-block;
  float: left;
  height: 54px;
  width: 54px;
  margin-right: .6em;
  background: red;
  border-radius: 50%;
  -webkit-transition: background .2s;
  transition: background .2s;
}
.stripe-dropdown .gallery .content a span, .stripe-dropdown .gallery .content a em {
  display: block;
  line-height: 1.2;
}
.stripe-dropdown .gallery .content a em {
  font-size: 1.8rem;
  padding: .4em 0 .2em;
  color: #8BFEBF;
}
.stripe-dropdown .gallery .content a span {
  font-size: 1.4rem;
  color: #a6a6a6;
}
.stripe-dropdown .gallery .content a:hover::before {
  background-color: #8BFEBF;
}
.stripe-dropdown .gallery li:nth-of-type(1) a::before {
  background: #f4e58a url(../images/stripe-menu-gallery-icons.svg) no-repeat 0 0;
}
.stripe-dropdown .gallery li:nth-of-type(2) a::before {
  background: #F4AF6D url(../images/stripe-menu-gallery-icons.svg) no-repeat -54px 0;
}
.stripe-dropdown .gallery li:nth-of-type(3) a::before {
  background: #DB6356 url(../images/stripe-menu-gallery-icons.svg) no-repeat -108px 0;
}
.stripe-dropdown .gallery li:nth-of-type(4) a::before {
  background: #8D4645 url(../images/stripe-menu-gallery-icons.svg) no-repeat -162px 0;
}
.stripe-dropdown .links .content > ul > li {
  margin-top: 1em;
}
.stripe-dropdown .links-list a,
.stripe-dropdown .btn {
  display: block;
  margin-left: 14px;
  font-size: 2.2rem;
  line-height: 1.6;
}
.stripe-dropdown .links-list a:hover,
.stripe-dropdown .btn:hover {
  color: #8BFEBF;
}
.stripe-dropdown .content h2 {
  color: #a6a6a6;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
  margin: 20px 0 10px 14px;
}


/* --------------------------------
           STYLES FOR DESKTOP
   -------------------------------- */
@media only screen and (min-width: 1000px) {
  .stripe-dropdown {
    position: absolute;
    height: 80px;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0;
    text-align: center;
    background-color: transparent;

    &.nav-open {
      background-color: transparent;
    }
  }
  .stripe-dropdown::before {
    content: 'desktop';
  }
  .stripe-dropdown .nav-trigger {
    display: none;
  }
  .stripe-dropdown .main-nav {
    display: inline-block;
    width: 100%;
  }
  .stripe-dropdown .main-nav > ul > li {
    display: inline-block;
    float: right;
  }
  .stripe-dropdown .main-nav > ul > li > a {
    display: block;
    padding: 0 1.8em;
    height: 70px;
    line-height: 70px;
    font-size: 1.1em;
    color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    text-decoration: none;
    font-weight: bold;
  }
  .stripe-dropdown .main-nav > ul > li > a:hover {
    color: #8FFDC1;
  }
  .stripe-dropdown.is-dropdown-visible .main-nav > ul > li > a {
    /* main navigation hover effect - on hover, reduce opacity of elements not hovered over */
    opacity: .6;
  }
  .stripe-dropdown.is-dropdown-visible .main-nav > ul > li.active > a {
    opacity: 1;
  }
  .stripe-dropdown .stripe-dropdown-wrapper {
    /* dropdown wrapper - used to create the slide up/slide down effect when dropdown is revealed/hidden */
    display: block;
    top: 58px;
    /* overwrite mobile style */
    width: auto;
    padding: 0;
    box-shadow: none;
    background-color: transparent;
  }
  .stripe-dropdown.is-dropdown-visible .stripe-dropdown-wrapper {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  .stripe-dropdown .dropdown-list {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  }
  .no-csstransitions .stripe-dropdown .dropdown-list {
    display: none;
  }
  .stripe-dropdown .dropdown-list::before {
    /* dropdown top triangle */
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #FFFFFF;
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
  }
  .stripe-dropdown .dropdown-list > ul {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .stripe-dropdown.is-dropdown-visible .dropdown-list {
    visibility: visible;
    -webkit-transition: width .3s, height .3s, -webkit-transform .3s;
    transition: width .3s, height .3s, -webkit-transform .3s;
    transition: transform .3s, width .3s, height .3s;
    transition: transform .3s, width .3s, height .3s, -webkit-transform .3s;
  }
  .stripe-dropdown.is-dropdown-visible .dropdown-list::before {
    opacity: 1;
  }
  .stripe-dropdown .dropdown {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    -webkit-transition: opacity .3s, visibility .3s;
    transition: opacity .3s, visibility .3s;
  }
  .stripe-dropdown .dropdown.active {
    opacity: 1;
    visibility: visible;
  }
  .stripe-dropdown .dropdown.move-left .content {
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  .stripe-dropdown .dropdown.move-right .content {
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
  }
  .stripe-dropdown .label {
    /* hide the label on bigger devices */
    display: none;
  }
  .stripe-dropdown .content {
    padding: 2.2em 1.8em;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    text-align: left;
  }
  .stripe-dropdown .content > ul::after {
    clear: both;
    content: "";
    display: block;
  }
  .stripe-dropdown .content > ul > li {
    width: 48%;
    float: left;
    margin-right: 4%;
    margin-top: 0;
  }
  .stripe-dropdown .content > ul > li:nth-of-type(2n) {
    margin-right: 0;
  }
  .stripe-dropdown .gallery .content {
    /* you need to set a width for the .content elements because they have a position absolute */
    width: 510px;
    padding-bottom: .8em;
  }
  .stripe-dropdown .gallery .content li {
    margin-bottom: 1.8em;
  }
  .stripe-dropdown .links .content > ul > li {
    margin-top: 0;
  }
  .stripe-dropdown .links .content,
  .stripe-dropdown .button .content {
    width: 390px;
  }
  .stripe-dropdown .links-list a {
    font-size: 1.6rem;
    margin-left: 0;
  }
  .stripe-dropdown .btn {
    display: block;
    width: 100%;
    height: 60px;
    margin: 1.5em 0 0;
    font-size: 1.8rem;
    text-align: center;
    color: #FFFFFF;
    line-height: 60px;
    background: #DB6356;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .stripe-dropdown .btn:hover {
    background: #8BFEBF;
    color: #FFFFFF;
  }
  .stripe-dropdown .content h2 {
    font-size: 1.8rem;
    text-transform: none;
    font-weight: normal;
    color: #8BFEBF;
    margin: 0 0 .6em;
  }
  .stripe-dropdown .bg-layer {
    /* morph dropdown background */
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 1px;
    background: #FFFFFF;
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .stripe-dropdown.is-dropdown-visible .bg-layer {
    opacity: 1;
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, -webkit-transform .3s;
    transition: transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s, -webkit-transform .3s;
  }
}