$Green: #03A554;
$GreenMedium: #0E894F;
$GreenDark: #03944B;
$Yellow: #FCE62D;
$Blue: #30C5E9;
$Red: #ED4B38;
$White: #FFF;
$Orange: #F6981F;
$Grey: #C8CCD7;
$LightGrey: #E3E5EB;
$MediumGrey: #484C57;
$DarkGrey: #888C97;
$Danger: #DC5034;
$defaultTextColor: #3C404B;
$defaultBtnBGColor: #60646E;
$Shark: #222631;
$SharkLight: #2F333E;
$HeadingBG: #6F737E;
$Black: #0F1014;
$WidgetBackground: #1D2129;

$Strength1: #ED4B38;
$Strength2: #F6981F;
$Strength3: #80BD01;  // #FCE62D;
$Strength4: #80BD01;

$LiveColor: #03A554;